In [1]:
import pandas as pd

In [3]:
students = {
    'name': ['John', 'Agaba', 'Eva'],
    'age': [20, 25, 30],
    'major': ['Machine Learning', 'Deep Learning', 'Data Analysis']
}

students_table = pd.DataFrame(data=students)

In [4]:
students_table

    name  age             major
0   John   20  Machine Learning
1  Agaba   25     Deep Learning
2    Eva   30     Data Analysis

In [5]:
students_table.age.mean()

25.0