In [43]:
import pandas as pd
data=pd.read_csv("datasets/music.csv")

In [44]:
data

      age   gender        genre
0       20       1       HipHop
1       23       1       HipHop
2       25       1       HipHop
3       26       1         Jazz
4       29       1         Jazz
5       30       1         Jazz
6       31       1    Classical
7       33       1    Classical
8       37       1    Classical
9       20       0        Dance
10      21       0        Dance
11      25       0        Dance
12      26       0     Acoustic
13      27       0     Acoustic
14      30       0     Acoustic
15      31       0    Classical
16      34       0    Classical
17      35       0  Classical
18      35       1    Classical
19      35       1    Classical

In [45]:
from sklearn.linear_model import LogisticRegression

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
train,test=train_test_split(data,test_size=0.25)

In [48]:
len(train)

15

In [49]:
len(test)

5

In [50]:
train.head()

      age   gender        genre
4       29       1         Jazz
19      35       1    Classical
2       25       1       HipHop
17      35       0  Classical
8       37       1    Classical

In [51]:
test.head()

      age   gender      genre
11      25       0      Dance
13      27       0   Acoustic
0       20       1     HipHop
18      35       1  Classical
15      31       0  Classical

In [52]:
data['genre']=data['genre'].astype('category')
data['genre']=data['genre'].cat.codes

In [53]:
data

      age   gender  genre
0       20       1      4
1       23       1      4
2       25       1      4
3       26       1      5
4       29       1      5
5       30       1      5
6       31       1      1
7       33       1      1
8       37       1      1
9       20       0      3
10      21       0      3
11      25       0      3
12      26       0      0
13      27       0      0
14      30       0      0
15      31       0      1
16      34       0      1
17      35       0      2
18      35       1      1
19      35       1      1

In [54]:
data.isna().sum()

  age     0
gender    0
genre     0
dtype: int64

In [55]:
x=data.drop(columns='genre')
x

      age   gender
0       20       1
1       23       1
2       25       1
3       26       1
4       29       1
5       30       1
6       31       1
7       33       1
8       37       1
9       20       0
10      21       0
11      25       0
12      26       0
13      27       0
14      30       0
15      31       0
16      34       0
17      35       0
18      35       1
19      35       1

In [56]:
y=data['genre']
y

0     4
1     4
2     4
3     5
4     5
5     5
6     1
7     1
8     1
9     3
10    3
11    3
12    0
13    0
14    0
15    1
16    1
17    2
18    1
19    1
Name: genre, dtype: int8

In [57]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=41)

In [58]:
x_train

      age   gender
4       29       1
15      31       0
16      34       0
17      35       0
13      27       0
8       37       1
5       30       1
7       33       1
9       20       0
18      35       1
1       23       1
19      35       1
2       25       1
12      26       0
3       26       1
0       20       1

In [59]:
len(x_train)

16

In [60]:
y_train

4     5
15    1
16    1
17    2
13    0
8     1
5     5
7     1
9     3
18    1
1     4
19    1
2     4
12    0
3     5
0     4
Name: genre, dtype: int8

In [61]:
from sklearn.preprocessing import StandardScaler

In [62]:
scaler=StandardScaler()

In [63]:
x_train_scaled=scaler.fit_transform(x_train)
x_test_scaled=scaler.transform(x_test)

In [64]:
x_train_scaled

array([[-0.02347263,  0.77459667],
       [ 0.3520894 , -1.29099445],
       [ 0.91543243, -1.29099445],
       [ 1.10321344, -1.29099445],
       [-0.39903465, -1.29099445],
       [ 1.47877546,  0.77459667],
       [ 0.16430838,  0.77459667],
       [ 0.72765142,  0.77459667],
       [-1.71350172, -1.29099445],
       [ 1.10321344,  0.77459667],
       [-1.15015869,  0.77459667],
       [ 1.10321344,  0.77459667],
       [-0.77459667,  0.77459667],
       [-0.58681566, -1.29099445],
       [-0.58681566,  0.77459667],
       [-1.71350172,  0.77459667]])

In [65]:
x_test_scaled

array([[-1.52572071, -1.29099445],
       [-0.77459667, -1.29099445],
       [ 0.16430838, -1.29099445],
       [ 0.3520894 ,  0.77459667]])

In [66]:
log_reg=LogisticRegression().fit(x_train_scaled,y_train)

In [67]:
y_predict=log_reg.predict(x_train_scaled)
y_predict

array([5, 1, 1, 1, 0, 1, 1, 1, 0, 1, 4, 1, 4, 0, 4, 4], dtype=int8)

In [68]:
log_reg.score(x_train_scaled,y_train)*100

75.0

In [69]:
log_reg.score(x_test_scaled,y_test)*100

25.0

In [70]:
log_reg1=LogisticRegression(random_state=0,C=0.5,fit_intercept=True,).fit(x_train_scaled,y_train)

In [71]:
log_reg1.score(x_train_scaled,y_train)*100

68.75

In [72]:
log_reg1.score(x_test_scaled,y_test)*100

25.0

In [73]:
import matplotlib.pyplot as plt

In [75]:
from sklearn.metrics import classification_report

In [76]:
print(classification_report(y_train,y_predict))

              precision    recall  f1-score   support

           0       0.67      1.00      0.80         2
           1       0.75      1.00      0.86         6
           2       0.00      0.00      0.00         1
           3       0.00      0.00      0.00         1
           4       0.75      1.00      0.86         3
           5       1.00      0.33      0.50         3

    accuracy                           0.75        16
   macro avg       0.53      0.56      0.50        16
weighted avg       0.69      0.75      0.68        16

d:\venvs\dataidea\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
d:\venvs\dataidea\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
d:\venvs\dataidea\Lib\site-packages\sklearn\metrics\_classification.py:1509: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))