In [2]:
import pandas as pd

In [10]:
country_data = pd.DataFrame({
    'name': ['brazil', 'uganda', 'croatia'],
    'gdp': [3456, 6743, 4586],
    'population': [120, 45, 8]
})

In [17]:
country_data

      name   gdp  population
0   brazil  3456         120
1   uganda  6743          45
2  croatia  4586           8

In [18]:
country_data['per_capita_income'] = round(country_data['gdp'] / country_data['population'], 3)

In [19]:
country_data

      name   gdp  population  per_capita_income
0   brazil  3456         120             28.800
1   uganda  6743          45            149.844
2  croatia  4586           8            573.250