In [1]:
import pandas as pd
import numpy as np

In [5]:
data = {
    'weight': [76, 67, 45, 80, 39, 100],
    'height': [1.5, 1.6, 1.8, 1.9, 1.4, 1.7]
}

data_frame = pd.DataFrame(data)

data_frame

   weight  height
0      76     1.5
1      67     1.6
2      45     1.8
3      80     1.9
4      39     1.4
5     100     1.7

In [7]:
def calculateBMI(weight, height):

    body_mass_index = weight / height ** 2

    rounded_bmi = round(body_mass_index, 3)

    return rounded_bmi

In [12]:
data_frame['bmi'] = data_frame.apply(lambda row: calculateBMI(row['weight'], row['height']), axis=1)

In [10]:
data_frame

   weight  height     bmi
0      76     1.5  33.778
1      67     1.6  26.172
2      45     1.8  13.889
3      80     1.9  22.161
4      39     1.4  19.898
5     100     1.7  34.602