In [1]:
from dataidea.packages import *

In [9]:
data=pd.read_csv('nobel_prize_year.csv')
data.head(n=5)

   Year  Gender   Category  birth_year  age
0  2001    male    Physics        1957   44
1  2001    male  Economics        1943   58
2  2004  female      Peace        1940   64
3  2008    male      Peace        1937   71
4  2011    male   Medicine        1941   70

In [16]:
#How to get the mobde using numpy
age=data.age

In [12]:
#Using Pandas
age.mode()

0    56
Name: age, dtype: int64