In [4]:
# a lambda function to get the area of a triangle

def areaOfaTriangle(base, height):
    return (base*height)/2

In [1]:
# areaOfaTriangle = lambda base, height: base*height/2

In [5]:
area_of_a_triangle = areaOfaTriangle(base=4, height=6)

In [6]:
print(area_of_a_triangle)

12.0

In [7]:
import pandas as pd

In [1]:
import pandas as pd
dataset = pd.DataFrame({
    'country': ['uganda', 'kenya', 'tanzania'],
    'gdp': [1234, 5678, 91011],
    'ppn': [910, 87, 76] 
})

In [8]:
values_to_drop = dataset.index.values
dataset.drop(values_to_drop)

Empty DataFrame
Columns: [country, gdp, ppn]
Index: []

In [21]:
dataset.apply(per_capita_income, axis=1)

0       1.356044
1      65.264368
2    1197.513158
dtype: float64